.body-all {
    width: 500px;
    margin: auto;
}

.body-all>h3 {
    font-family: 'Black Han Sans', sans-serif;
    margin-top: 30px;
    text-align: left;
}

.top-mg {
    margin-top: 30px;
}

button {
    text-align: center;
}
